<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Feeling</string>
		<key>adress</key>
		<string>Calle Rios Rosas 43</string>
		<key>rating</key>
		<string>4</string>
		<key>descrption</key>
		<string>buenos cocteles</string>
		<key>lat</key>
		<string>40.419443</string>
		<key>lon</key>
		<string>-3.699696</string>
		<key>url</key>
		<string>www.feelingbar.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Feeling</string>
		<key>adress</key>
		<string>Calle Rios Rosas 43</string>
		<key>rating</key>
		<string>4</string>
		<key>descrption</key>
		<string>buenos cocteles</string>
		<key>lat</key>
		<string>40.419443</string>
		<key>lon</key>
		<string>-3.699696</string>
		<key>url</key>
		<string>www.feelingbar.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Feeling</string>
		<key>adress</key>
		<string>Calle Rios Rosas 43</string>
		<key>rating</key>
		<string>4</string>
		<key>descrption</key>
		<string>buenos cocteles</string>
		<key>lat</key>
		<string>40.419443</string>
		<key>lon</key>
		<string>-3.699696</string>
		<key>url</key>
		<string>www.feelingbar.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Feeling</string>
		<key>adress</key>
		<string>Calle Rios Rosas 43</string>
		<key>rating</key>
		<string>4</string>
		<key>descrption</key>
		<string>buenos cocteles</string>
		<key>lat</key>
		<string>40.419443</string>
		<key>lon</key>
		<string>-3.699696</string>
		<key>url</key>
		<string>www.feelingbar.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Feeling</string>
		<key>adress</key>
		<string>Calle Rios Rosas 43</string>
		<key>rating</key>
		<string>4</string>
		<key>descrption</key>
		<string>buenos cocteles</string>
		<key>lat</key>
		<string>40.419443</string>
		<key>lon</key>
		<string>-3.699696</string>
		<key>url</key>
		<string>www.feelingbar.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Feeling</string>
		<key>adress</key>
		<string>Calle Rios Rosas 43</string>
		<key>rating</key>
		<string>4</string>
		<key>descrption</key>
		<string>buenos cocteles</string>
		<key>lat</key>
		<string>40.419443</string>
		<key>lon</key>
		<string>-3.699696</string>
		<key>url</key>
		<string>www.feelingbar.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Feeling</string>
		<key>adress</key>
		<string>Calle Rios Rosas 43</string>
		<key>rating</key>
		<string>4</string>
		<key>descrption</key>
		<string>buenos cocteles</string>
		<key>lat</key>
		<string>40.419443</string>
		<key>lon</key>
		<string>-3.699696</string>
		<key>url</key>
		<string>www.feelingbar.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Feeling</string>
		<key>adress</key>
		<string>Calle Rios Rosas 43</string>
		<key>rating</key>
		<string>4</string>
		<key>descrption</key>
		<string>buenos cocteles</string>
		<key>lat</key>
		<string>40.419443</string>
		<key>lon</key>
		<string>-3.699696</string>
		<key>url</key>
		<string>www.feelingbar.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Feeling</string>
		<key>adress</key>
		<string>Calle Rios Rosas 43</string>
		<key>rating</key>
		<string>4</string>
		<key>descrption</key>
		<string>buenos cocteles</string>
		<key>lat</key>
		<string>40.419443</string>
		<key>lon</key>
		<string>-3.699696</string>
		<key>url</key>
		<string>www.feelingbar.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Feeling</string>
		<key>adress</key>
		<string>Calle Rios Rosas 43</string>
		<key>rating</key>
		<string>4</string>
		<key>descrption</key>
		<string>buenos cocteles</string>
		<key>lat</key>
		<string>40.419443</string>
		<key>lon</key>
		<string>-3.699696</string>
		<key>url</key>
		<string>www.feelingbar.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Feeling</string>
		<key>adress</key>
		<string>Calle Rios Rosas 43</string>
		<key>rating</key>
		<string>4</string>
		<key>descrption</key>
		<string>buenos cocteles</string>
		<key>lat</key>
		<string>40.419443</string>
		<key>lon</key>
		<string>-3.699696</string>
		<key>url</key>
		<string>www.feelingbar.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Feeling</string>
		<key>adress</key>
		<string>Calle Rios Rosas 43</string>
		<key>rating</key>
		<string>4</string>
		<key>descrption</key>
		<string>buenos cocteles</string>
		<key>lat</key>
		<string>40.419443</string>
		<key>lon</key>
		<string>-3.699696</string>
		<key>url</key>
		<string>www.feelingbar.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Feeling</string>
		<key>adress</key>
		<string>Calle Rios Rosas 43</string>
		<key>rating</key>
		<string>4</string>
		<key>descrption</key>
		<string>buenos cocteles</string>
		<key>lat</key>
		<string>40.419443</string>
		<key>lon</key>
		<string>-3.699696</string>
		<key>url</key>
		<string>www.feelingbar.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Feeling</string>
		<key>adress</key>
		<string>Calle Rios Rosas 43</string>
		<key>rating</key>
		<string>4</string>
		<key>descrption</key>
		<string>buenos cocteles</string>
		<key>lat</key>
		<string>40.419443</string>
		<key>lon</key>
		<string>-3.699696</string>
		<key>url</key>
		<string>www.feelingbar.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Feeling</string>
		<key>adress</key>
		<string>Calle Rios Rosas 43</string>
		<key>rating</key>
		<string>4</string>
		<key>descrption</key>
		<string>buenos cocteles</string>
		<key>lat</key>
		<string>40.419443</string>
		<key>lon</key>
		<string>-3.699696</string>
		<key>url</key>
		<string>www.feelingbar.com</string>
	</dict>
</array>
</plist>
