<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Feeling</string>
		<key>address</key>
		<string>Calle Rios Rosas 43</string>
		<key>rating</key>
		<string>1</string>
		<key>description</key>
		<string>buenos cocteles</string>
		<key>lat</key>
		<string>40.419443</string>
		<key>lon</key>
		<string>-3.699696</string>
		<key>url</key>
		<string>http://www.hotel-hannong.com/images/frontend/bar_a_vin/hannongbar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Otro Restaurante</string>
		<key>address</key>
		<string>Calasdkñas jlasdba</string>
		<key>rating</key>
		<string>4</string>
		<key>description</key>
		<string>sadasd</string>
		<key>lat</key>
		<string>40.419443</string>
		<key>lon</key>
		<string>-3.699696</string>
		<key>url</key>
		<string>http://lasiesta.mx/wp-content/uploads/2012/03/bar_04.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Foo</string>
		<key>address</key>
		<string>Calle Alameda 1</string>
		<key>rating</key>
		<string>3</string>
		<key>description</key>
		<string>asda</string>
		<key>lat</key>
		<string>40.419443</string>
		<key>lon</key>
		<string>-3.699696</string>
		<key>url</key>
		<string>http://media-cdn.tripadvisor.com/media/photo-s/02/3d/bc/d3/champions-sport-bar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bar</string>
		<key>address</key>
		<string>Gran Via 3</string>
		<key>rating</key>
		<string>5</string>
		<key>description</key>
		<string>asdasljfas</string>
		<key>lat</key>
		<string>40.419443</string>
		<key>lon</key>
		<string>-3.699696</string>
		<key>url</key>
		<string>http://www.hotel-hannong.com/images/frontend/bar_a_vin/hannongbar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>aklshdkjas</string>
		<key>address</key>
		<string>Calle Rios Rosas 43</string>
		<key>rating</key>
		<string>4</string>
		<key>description</key>
		<string>adljasjlkf.-a</string>
		<key>lat</key>
		<string>40.419443</string>
		<key>lon</key>
		<string>-3.699696</string>
		<key>url</key>
		<string>http://www.hotel-hannong.com/images/frontend/bar_a_vin/hannongbar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Otro MAs</string>
		<key>address</key>
		<string>Calle Rios Rosas 43</string>
		<key>rating</key>
		<string>1</string>
		<key>description</key>
		<string>buenos cocteles</string>
		<key>lat</key>
		<string>40.419443</string>
		<key>lon</key>
		<string>-3.699696</string>
		<key>url</key>
		<string>http://ad010cdnd.archdaily.net/wp-content/uploads/2012/07/1299175394-lou-001.jpg</string>
	</dict>
</array>
</plist>
